/*改了css，一定要去jsp里面把version改一下*/

body {
    text-align: center;
}

#main {
    position: relative;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#main_pic {
    transform: scale(0.7);
}

#searchinputform {
    position: relative;
    top: 20px;
}

#if_recommend_img{
    position: relative;
    top: 11px;
    height: 30px;
    width: auto;
}

#searchinput {
    height: 30px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 3px; /*css3属性IE不支持*/
    box-shadow: 0 2px #999;
    padding: 1px 1px 1px 5px;
}

#searchinputbutton {
    position: relative;
    height: 30px;
    width: 80px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px; /*css3属性IE不支持*/
    box-shadow: 0 4px #999;
    background-color: lightskyblue;
    color: white;
}

#searchinputbutton:hover {
    background-color: deepskyblue;

}

#searchinputbutton:active {
    background-color: dodgerblue;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
